body{
	font-size: 16px;
	font-family: Utopia;
	margin: 0;
}
@media(min-width: 950px){
	#header-nav{
		height: 80px;
	}
    
}
@media(max-width: 949px) and (min-width: 768px){
	#header-nav{
		height: 80px;
	}
}
@media(max-width: 600px){
	
}

#header-nav{
	background-color: rgb(37, 35, 36);
	border-radius: 0;
	border: 0;
	
}

.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}

.navbar-brand h1{
     color: white;
     text-shadow: 2px 4px rgb(0, 0, 0);
     font-size: 30px;
     margin-left: 10px;
     margin-top: 0;
}

#nav-list{
	padding: 20px;
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
#ourmenu{
	text-align: center;
	color: black;
	margin-top: 80px;
}
.d{
	border: 1px solid black;
	height: 250px;
	position: relative;
	float: left;
	margin: 1%;
	box-sizing: border-box;
	background: grey;

}
section{
	height: 50px;
	width: 35%;
	position: absolute;
	top:0;
    right:0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  color: black;
}
p{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 55px;
	font-size: 13.5px;
	color: black;
}
#sec1{
	background-color: rgb(221,194,82);
}
#sec2{
	background-color: rgb(123, 195, 66);
}
#sec3{
	background-color: #f9906f;
}


@media (min-width: 992px){
	.d{
		width: 31%;
		
	}
	#div1{
		margin-left: 1.5%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#div3{
		width: 95%;
		margin-left: 2.5%;
		
		
	}
	#div1{
		width: 46%;
		margin-left: 2.5%;
		margin-right: 1.5%;
		

			}
	#div2{
		width: 46%;
		margin-right: 2.5%;
		margin-left: 1.5%;
		
	}
}
	
@media (max-width: 767px){
	#div3{
		width: 95%;
		margin-left: 3.5%;
		
	}
	#div1{
		width: 95%;
		margin-left: 3.5%;

	}
	#div2{
		width: 95%;
		margin-left: 3.5%;
		
	}
}
